  // Container width
  $wrapper-width: 968px;
  $header-width: 270px;
  $header-height: 615px; //top + middle + bottom
  $section-width: 640px;



  $layout-header-top-height: 260px;
  $layout-header-middle-height: 242px; //286px;
  $layout-header-bottom-height: 50px;


  $layout-header-menu-height: 242px;//286px; 
  $layout-header-middle-border: 1px solid rgba(0, 0, 0, 0.75);



  $layout-content-header: 0px;
  $layout-content-right: 0px;

  //$layout-header-height: 50px;
  //$layout-footer-height: 30px;

  //$menutoggle-display: block;
  //$overlay-display: none;

