
// Container width
$wrapper-width: 968px;
$header-width: 270px;
$header-height: 600px; //top + middle + bottom
$section-width: 640px;



$layout-header-top-height: 260px;
$layout-header-middle-height: 242px; //286px;
$layout-header-bottom-height: 50px;


$layout-header-menu-height: 242px;//286px; 




$layout-content-header: 0px;
$layout-content-right: 0px;

// Styling
$white: #fff;
$black: #333;



//Sans-serif fonts
$font-apple-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-open-sans: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

//serif fonts
$font-times: "Times New Roman", Times, serif;
$font-georgia: "Georgia", serif;
$font-palatino: "Palatino Linotype", "Book Antiqua", Palatino, serif;


$main-background-color: $white;
$main-text-color: $black;
$main-border-color: rgba(0,0,0,0.5);
$header-primary-color: #f9f9f9;
$header-secondary-color: #A8D0E6;
$inner-box-shadow: black;
$layout-header-middle-border: 1px solid $main-text-color;

$sans-font: $font-apple-system;
$serif-font: $font-times; 


$main-font-family: $sans-font;
