<style>
  input:checked+.slider {background-image: url("{{ '../../assets/moon-black.svg' | relative_url}}");}
  .slider.round {background-image: url("{{ '../../assets/day-sunny.svg' | relative_url }}");}
</style>

<section>
  <p class="footer-note">This website was designed by <a href="https://github.com/conradli">Conrad Li</a></p>

  <div class="layout-footer-social">
    {% if site.social_icons %}
    <ul aria-label="Social media icons squares">
      {% for social in site.social_icons %}
      {% if social.icon %}
      <li><a target="_blank" rel="noreferrer noopener" href="{{ social.link }}" aria-label="Link to {{social.name}}"><i class="{{ social.icon }}"></i></a></li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

    <label class="theme-switch" for="dark-mode-footer">
      <input type="checkbox" id="dark-mode-footer" name="Dark mode toggle" {{site.checked}}/>
      <div class="slider round" aria-describedby="dark-mode-footer"></div>
    </label>
  </div>

</section>