<style>
  input:checked+.slider {background-image: url("{{ '../../assets/moon-black.svg' | relative_url}}");}

  .slider.round {background-image: url("{{ '../../assets/day-sunny.svg' | relative_url }}");}

</style>

<section>
  <p class="footer-note">This website was designed by <a href="https://github.com/conradli">Conrad Li</a></p>

  <div class="layout-footer-social">
    {% if site.social_icons %}
    <ul>
      {% for social in site.social_icons %}
      {% if social.icon %}
      <li><a target="_blank" rel="noreferrer noopener" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
      {% endif %}
      {% endfor %}

      {% include dark-mode.html %}
      



    </ul>

    {% endif %}
  </div>

</section>