<style>
  input:checked+.slider {background-image: url("{{ '../../assets/moon-black.svg' | relative_url}}");}

  .slider.round {background-image: url("{{ '../../assets/day-sunny.svg' | relative_url }}");}

</style>

<section>

  <!-- Overlay visible for mobile-->
  <div id="myNav" class="overlay">

    <!-- The overlay -->
    <div class="overlay-top">
      <span onclick="closeNav()">
        <a href="javascript:void(0)" id="closeNav" class="fas fa-times inactive"></a>
      </span>
    </div>

    <div class="overlay-inner">
      <!-- Overlay content -->
      <div class="overlay-content">
        {% if site.menu %}
        <ul class="layout-header-menu">
          {% for menu in site.menu %}
          <li data-menu-link="{{ menu.link }}">
            <a href="{{ menu.link | relative_url }}">{{ menu.text }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

    </div>


  </div>


  <span class="toggle-menu" onclick="openNav()">
    <i id="openNav" class="fa fa-bars active" aria-hidden="true"></i>
  </span>

  <!-- End overlay layout -->




  <!-- Normal header layout -->
  <div class="layout-header-top">
    <div class="layout-header-avatar">
      {% if site.github.owner_gravatar_url %}
      <img src="{{ site.avatar | default: site.github.owner_gravatar_url }}"
        alt="{{ site.title | default: site.github.owner_name }}">
      {% else %}
      <img src="https://secure.gravatar.com/avatar/?d=mm&r=g&s=150" alt="">
      {% endif %}
    </div>

    <div class="layout-header-info">
      <h1 class="layout-header-title">
        <a href="{{ site.url }}">{{ site.title | default: site.github.owner_name }}</a>

      </h1>
      {% if site.subtitle %}
      <h3 class="layout-header-subtitle">
        {{ site.subtitle }}
      </h3>
      {% endif %}
    </div>
  </div>



  <div class="layout-header-middle">
    <!-- Name in top left, Tablet design -->
    <h1 class="layout-header-title-medium">
      <a href="{{ site.url }}">{{ site.title | default: site.github.owner_name }} </a>
    </h1>
    <!-- End tablet design -->

    <ul class="layout-header-menu">
      {% for menu in site.menu %}
      {% if menu.link == page.url%}
      <li data-menu-link="{{ menu.link }}" class="active">
        <a href="{{ menu.link | relative_url }}">{{ menu.text }}</a>
      </li>

      {% else %}

      <li data-menu-link="{{ menu.link }}">
        <a href="{{ menu.link | relative_url }}">{{ menu.text }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>


  </div>


  <div class="layout-header-bottom">
    <div class="layout-header-small">
      <span>GET IN TOUCH</span>
    </div>
    <div class="layout-header-social">
      {% if site.social_icons %}
      <ul>
        {% for social in site.social_icons %}
        {% if social.icon %}
        <li><a target="_blank" rel="noreferrer noopener" href="{{ social.link }}"><i class="{{ social.icon }}"></i></a></li>
        {% endif %}
        {% endfor %}

        {% include dark-mode.html %}

      </ul>

      {% endif %}

    </div>
  </div>

</section>