
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Conrad Li">

<meta property="og:title" content="Conrad Li" />
<meta property="og:description" content="Welcome to my personal website!" />
<meta property="og:image" content="{{ '/assets/core/conrad-timg.jpg' | relative_url }}" />

<link rel="icon" type="image/png" href="{{ '/favicon-16x16.png' | relative_url }}" sizes="16x16">
<link rel="icon" type="image/png" href="{{ '/favicon-32x32.png' | relative_url }}" sizes="32x32">
<link rel="apple-touch-icon" type="image/png" href="{{ '/apple-touch-icon.png' | relative_url }}" sizes="180x180">
<link rel="icon" type="image/png" href="{{ '/android-chrome-192x192.png' | relative_url }}" sizes="192x192">
<link rel="icon" type="image/png" href="{{ '/android-chrome-512x512.png' | relative_url }}" sizes="512x512">


<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" media="all" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" media="all"
type="text/css">