<section class="about">

  <p>
    {{ site.about }}
  </p>

</section>


<section class="blog">
    <h1>Latest Posts</h1>
  
    <ul>
      {% for post in site.posts limit:3 %}
        <li class="blog-entry">
         
          <a href="{{ post.url }}">
          <div class="blog-header" href="{{ post.url }}">
            <h2>{{ post.title }}</h2>
            <time datetime="{{ post.date | date: "%m-%d-%Y" }}">{{ post.date | date_to_long_string }}</time>
          </div>
  
  
          <div class="excerpt">
            {{ post.excerpt | strip_html | strip_newlines | truncate: 156 }}  
  
          </div>
          </a>
  
        </li>
      {% endfor %}
    </ul>
  
    <a href="{{ '/blog/' | relative_url }}">
      <button class="see-all-blog" > 
        <h3>See More Posts</h3>
  
      </button>
    </a>
  
</section>
  