
.blog {
    ul {
        list-style: none;
        padding: 0;
        margin-top: 0;
    }

    li {
        padding: .5em;
        border-radius: .5em;
    }

    li:hover {
        background-color: var(--secondary-color);
    }

    a {
        color: inherit;
    }

    
}


.blog-entry {
    margin: 0em !important;
    a {
        display: block;
        width: 100%;
        height: 100%;
        min-height: 5rem;
        text-decoration: none;

    }

}

.blog-entry:hover {
    a {
        color: #333;
    }
}

.blog-header {
    display: grid;
    grid-template-columns: 70% 30%;


    h2 {
        margin: 0 0 .25em 0;
    }

    time {
        margin: 0 0 .25em 0;
        font-size: 1em;
        text-align: right;
        font-weight: 500;
        line-height: 2;
    }
      
}

.excerpt {
    p {
        margin: 0;
        
    }
}

.see-all-blog {
    float: right;
    padding: 0 1em;
    border: none;
    border-radius: .5em;
    background-color: var(--highlight-nav-color);

    h3 {
        margin: .75em;
    }
}


.see-all-blog:hover {
    background-color: var(--secondary-color);

}


@media print, screen and (max-width: 767px) and (min-width: 100px) {
    .blog {

        li {
            padding: .5em;
    
        }
    }



    .blog-header {
        margin-bottom: .5em;
        display: block;
        h2 { 
            margin: 0 0 .25em 0;
        }

        time {
            font-size: 1em;
            line-height: 0;
        }
    }

    .blog-entry {
        height: auto;
        
    }



}

