.fa.fa-bars.active {
    position: relative;
    float: right;
    font-size: 28px;
    text-align: bottom;
    transform: translateY(15%);
    display: block;
    transition: .3s;
}

.fa.fa.fa-bars.inactive {
    display: none;

}

.fas.fa-times.active {
    position: relative;
    float: right;
    font-size: 32px;
    text-align: bottom;
    transform: translate(-75%, 100%);
    color: black;
    display: block;
    -webkit-text-stroke: 2px white;
    transition: .3s;


}

.fas.fa-times.inactive {
    display: none;
}



/* The Overlay (background) */
.overlay {
    position: fixed;
    display: grid;
    height: 100%;
    width: 0;
    grid-template-rows: 84px 100%;
    z-index: 1;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    transition: 10s;

    &-top {
        background-color: rgba(255, 255, 255, 0);
    }

    &-inner {
        background-color: rgba(255, 255, 255, 1);

    }

}


/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 0%;
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 0px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
    padding: 0;
    white-space: nowrap;
    border-top: $layout-header-middle-border;

    ul li {
        margin-top: 0px;
        padding: 0px;
        border-bottom: $layout-header-middle-border;

        a {
            margin-top: 0px;
            top: 0px;
            padding: 8px;
            text-decoration: underline;
            font-size: 1.5rem;
            display: block;
            transition: 0.3s;
        }

        a:hover,
        a:focus {
            color: #f1f1f1;
        }
    }


}