.about{
    display: block;
}

#about b{
    color: darken($color: $secondary-color, $amount: 15);
}

.latest-post-header {
    display: block;
    border-top: 3px double black;
    border-bottom: 2px solid black;
    margin-top: 2rem !important;
}