.about{
    display: block;
}

#about b{
    color: darken($color: $secondary-color, $amount: 40);
    filter: brightness(1.4);
    
}


.latest-post-header {
    display: block;
    border-top: 3px double var(--border-color);
    border-bottom: 2px solid var(--border-color);
    margin-top: 2rem !important;
}