
@media print, screen and (max-width: 1099px) and (min-width: 768px) {
  div.wrapper {
    width: auto;
    margin: 0 auto;
  }

  body {
    width: 100vw;
    height: 100vh;
    padding: 30px;
    word-wrap: break-word;
  }

  .layout-header {
    position: static;
    width: 100%;
    height: 6em;
    margin: 0;
    padding: .75em .25em .75em .75em;
    box-shadow: .3rem .3rem 0 $inner-box-shadow, .7rem .7rem 0 $header-secondary-color; 
    margin-bottom: 1rem; 

    &-top,
    &-bottom {
      display: none;
    }

    &-middle {
      padding: 10px 0px;
      height: 4rem;
      border: none;
      margin: 0px;
    }



    &-avatar {
      display: none;

      img {
        display: none;

      }
    }

    &-info,
    &-subtitle {
      display: none;
    }


    &-title-medium {
      display: block;
      width: max-content;
      float: left;
      padding: .75rem;
      margin: .75rem;
    }

    &-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      height: 50px;
      width: auto;
      overflow: hidden;
      float: right;
      
      li {
        padding: 0px !important;
        border-right: 1px solid rgba(0, 0, 0, .75);
        height: auto;
      }

      li:last-child {
        border-right: none;
        
      }

      a {
        font-size: 1.25rem;
        font-weight: 500;
        color: $main-text-color !important;
        padding: .75rem .75rem .75rem .75rem !important;

      }

    }


  }

  .layout-content {
    padding: 20px 0;
    margin: 0 0 20px;
    border-top: none;
    width: 100%;
  }


  .layout-footer {
    width: 100%;
    border-top: 1px solid #e5e5e5;

    &-social {
      display: block;
      overflow-x: auto;
      overflow-y: hidden;
      font-size: 1.4rem;
      float: left;
      ul {
        list-style: none;
        display: table;
        padding: 0px;
        margin: 0px;

        >li {
          display: table-cell;
          padding-right: 15px;
          margin: 0px;

          a:hover {
            color: rgb(180, 180, 180);
          }

          a {
            color: rgb(8, 8, 8);
          }
        }
      }
    }

    p {
      padding-top: 1em;
    }
  }


}
  
  
  
  