.image-gallery {
    padding: 0;
    margin: 0;
    overflow: auto;

}


.image-gallery li {
    list-style: none;

    .image-caption {
        color: var(--font-color);
        font-style: italic;
        font-weight: 300;
        text-align: center;
        text-decoration: none;
    }
}

img[data-sizes="auto"] { display: block; }

.image-img, .image-img.lazy {
    display: block;
    margin: auto !important;
    object-fit: contain;
    width: 99%;
    max-width: var(--section-width);
    max-height: 430px;
}


.image-caption-placement {
    display: block;
    padding: .25rem 0 1.5rem 0;
    line-height: 1;
}


@media print, screen and (max-width: 767px) and (min-width: 100px) {
    .image-img, .image-img.lazy {
        max-width: calc(100vw-40px);
        max-height: 260px;
    }
}