.post {
    h2, a {
        color: var(--secondary-color);
    }
    a {
        text-decoration: underline;
    }

    a:hover {
        color: var(--font-color-hover);
    }
}


.post-title {
    margin-bottom: 0 !important;
    color: var(--secondary-color);
}


.post-date {
    margin-top: 0 !important;
    margin-bottom: 1.5rem !important;
    padding-bottom: .5rem !important;
    font-size: 1rem;
    color: var(--font-color);
    font-weight: 400;
    border-bottom: 3px double var(--border-color);

}
