.wrapper {
  width: $wrapper-width;
  margin: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}


html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html,
body {
  font-size: 1rem; //1rem = ~16px
  width: 100%;
  height: 100%;
  overflow-x: hidden;

}


body {
  @include sans;
  background-color: $main-background-color;
  font: 16px/1.5 $main-font-family;
  color: $main-text-color;
}


h1 {
  font-size: 2rem; //1.8rem;
}

h2 {
  font-size: 1.5rem; //1.4rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: .8rem;
}

h5 {
  font-size: .7rem;
}

h6 {
  font-size: .6rem;
}

a {

  &,
  &:link,
  &:visited {
    color: rgb(0, 122, 204);
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.overlay,
.overlay-content,
.fa.fa-bars,
.fas.fa-times,
.layout-header-title-medium {
  display: none;
}

.layout-header {
  display: block;
  position: fixed;
  top: 3.25em;
  width: $header-width;
  height: $header-height;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: $primary-color;
  box-shadow: .27em .27em $inner-box-shadow, .65em .65em 0 $secondary-color; 
  padding: 1em;


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0px;
  }

  h1 a {
    text-decoration: none;
    color: $black;
  }

  &-top {
    height: $layout-header-top-height;
    margin-bottom: 5px;

  }

  &-middle {
    top: $layout-header-top-height;
    height: $layout-header-middle-height;
    border-top: $layout-header-middle-border;
    border-bottom: $layout-header-middle-border;
    margin-bottom: 10px;

  }

  &-bottom {
    height: $layout-header-bottom-height;


  }

  &-avatar {
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 200px;

    img {
      display: block;
      margin: 0px auto;
      width: 150px;
      height: 150px;
      border-radius: 50%;

      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &-info {
    position: relative;
    text-align: center;
  }

  &-title {
    font-size: 1.5em;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

  }

  &-subtitle {
    font-weight: 200;
    margin-bottom: 10px;
  }

  &-menu {
    list-style: none;
    height: $layout-header-menu-height;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

    li {
      display: block;

      &:not(.active):hover {
        background-color: $button-color;
        border-radius: .5em;
        text-decoration: underline;
        
      }

      a {
        display: block;
        padding: 10px 10px 10px 40px;
        color: $main-text-color !important;
        text-decoration: none !important;
        font-weight: 500;
      }
    }
    
    .active {
      background-color: $secondary-color;
      border-radius: .5em;
      text-decoration: underline;
    }
  }

  &-small {
    height: 15px;
    font-size: .8rem;

  }

  &-social {
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 1.4rem;

    ul {
      list-style: none;
      display: table;
      padding: 0px;
      margin: 0px;

      >li {
        display: table-cell;
        padding-right: 15px;
        margin: 0px;

        a:hover {
          color: rgb(180, 180, 180);
        }

        a {
          color: rgb(8, 8, 8);
        }
      }
    }
  }
}




.layout-content {
  margin-top: 2rem;
  width: $section-width; //500 orig
  min-height: $section-height;
  float: right;
  padding-bottom: 20px;
  overflow-x: hidden;
  border: none;
  p, li, a {
    line-height: 1.8rem;
    margin: 0.5rem 0rem;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 0.5rem;
  }

  .page-header {
    border-bottom: $layout-header-middle-border;
    h1 {
        margin-bottom: 0em;

    }
  }

}



.layout-footer {
  position: static;
  margin: auto;
  clear: both;
  float: right;
  height: 50px;
  width: $section-width;
  background-color: #FFF;
  font-size: .75rem;
  text-align: right;
  border-top: 1px solid rgba(172, 161, 161, 0.555);

  &-social {
    display: none;
  }
}
