<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Conrad Li">
  <meta name="Description" content="Overview of all blog posts">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" media="all" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" media="screen"
    type="text/css">

  {% seo %}


</head>

<body>
  <div class="wrapper">
    <div class="layout-header">

      {% include header.html %}

    </div>


    <div class="layout-content">

      <section class="blog">
        <h1 class="page-header">Latest Posts</h1>
        {% for post in site.posts %}
        <ul>

          <li class="blog-entry">
            <a href="{{ post.url }}">

              <div class="blog-header" href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
                <time datetime="{{ post.date | date: "%m-%d-%Y" }}">{{ post.date | date_to_long_string }}</time>
              </div>

              <div class="excerpt">
                <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 156 }}</p>

              </div>
            </a>

          </li>

        </ul>

        {% endfor %}

      </section>
    </div>

    <div class="layout-footer">
      {% include footer.html %}
    </div>
  </div>


  <!-- Scripts go below here -->
  <script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }} "></script>


</body>

</html>