<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" media="all" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" media="screen"
    type="text/css">

  {% seo %}


</head>

<body>
  <div class="wrapper">
    <div class="layout-header">

      {% include header.html %}

    </div>


    <div class="layout-content">
      {{ content }}

      <section class="about">
        <h1 class="page-header">Hi, my name is Conrad!</h1>
        <p>
          {{ site.about }}
        </p>
      </section>

      




      <section class="blog">
        <h1 class="latest-post-header">Latest Posts</h1>

        <ul>
          {% for post in site.posts limit:3 %}
          <li class="blog-entry">

            <a href="{{ post.url }}">
              <div class="blog-header" href="{{ post.url }}">
                <h2>{{ post.title }}</h2>
                <time datetime="{{ post.date | date: "%m-%d-%Y" }}">{{ post.date | date_to_long_string }}</time>
              </div>


              <div class="excerpt">
                {{ post.excerpt | strip_html | strip_newlines | truncate: 156 }}

              </div>
            </a>

          </li>
          {% endfor %}
        </ul>

        {% assign postNum = site.posts | size %}
        {% if postNum > 3 %}
        <a href="{{ '/blog/' | relative_url }}">
          <button class="see-all-blog">
            <h3>See More Posts</h3>
          </button>
        </a>
        {% endif %}

      </section>

      <h1 class="latest-post-header">Photography</h1>

      <section class="photo-grid">

        {% for photo in site.photography limit:2 %}

        <a href="{{ site.url }}{{ photo.url }}">

          <div class="photo-item">
            <img class="photo-display" src="{{ site.baseurl }}{{ photo.display }}">
            <h2 class="photo-title">{{photo.place}}, {{photo.country}}</h2>
            <h3 class="photo-date">{{ photo.date | date: "%m-%d-%Y" }}</h3>
          </div>
        </a>

        {% endfor %}

      </section>
      
      {% assign postNum = site.photography | size %}
      {% if postNum > 2 %}
      <a href="{{ '/photography/' | relative_url }}">
        <button class="see-all-blog">
          <h3>See More Posts</h3>
        </button>
      </a>
      {% endif %}

    </div>

    <div class="layout-footer">
      {% include footer.html %}
    </div>
  </div>


  <!-- Scripts go below here -->
  <script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }} "></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>

</html>