<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Conrad Li">
    <meta name="Description" content="Photography taken in {{ page.place }}, {{ page.country }} on {{ page.date | date: '%B %-d, %Y' }}">

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" media="all" type="text/css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" media="all"
        type="text/css">
    {% seo %}


</head>

<body>
    <div class="wrapper">
        <div class="layout-header">

            {% include header.html %}

        </div>


        <div class="layout-content" >
            <h1 class="post-title"> {{ page.title }} </h1>
            <h2 class="post-date"> {{ page.date | date: "%B %-d, %Y" }} </h2>
            {{ content }}

            {% if page.carousel %}
            <ul class="image-gallery" id="image-gallery">
                {% for file in page.carousel %}

                <li class="image-box">

                    <a class="image-caption" href="{{ file.large | relative_url }}">
                        <picture>
                            <source srcset="{{ file.large | relative_url }}" media="(min-width: 1200px)">
                            <source srcset="{{ file.image | relative_url }}" media="(min-width: 768px)">
                            <source srcset="{{ file.small | relative_url }}" media="(min-width: 500px)"> 

                            <img class="image-img lazyload" alt="{{ file.caption }}"
                            src="{{ file.timg | relative_url }}" data-src="{{ file.xsmall | relative_url }}">
                        </picture>

                        <span class="image-caption-placement" aria-hidden="true">{{ file.caption }}</span>

                    </a>


                    
                </li>


                {% endfor %}
            </ul>
            {% endif %}


        </div>

        

        <div class="layout-footer">
            {% include footer.html %}
        </div>
    </div>


    <!-- Scripts go below here -->
    <script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }} "></script>
    <script defer type="text/javascript" src="{{ 'assets/js/lightbox.js' | relative_url }}"></script>
    <script type="text/javascript" src="{{ 'assets/js/lazysizes.min.js' | relative_url }}"></script>




</body>

</html>